.container {
  margin: 0 1rem;

  @include breakpoint("small") {
    max-width: 60rem;
    margin: 0 auto;
  }
  &.tmpl-post {}
}

@include breakpoint("small") {
  p {
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
  }
}
