div.widget--latest-posts {
    padding: 1rem;
    background: $color-dark-grey;

    * {
        color: white;
    }

    li.postlist-item {
        margin-bottom: 0.5rem;
    }

    p.archive-text {
        color: rgb(185, 185, 185);
    }
}